openapi: 3.0.0
info:
  title: Renesas Web Data API
  description: >
    The Renesas Web Data API enables external systems to retrieve product
    metadata in real time, without relying on manual CSV downloads or periodic
    feed refreshes. This shift improves data consistency, streamlines
    integrations, and aligns with modern API-first architectures.
  version: 1.2.0
servers:
  - url: https://api.renesas.com/web-data/v1
    description: Production Server
  - url: https://api.renesas-dev.com/web-data/v1
    description: Staging Server
security:
  - ApiKeyAuth: []
tags:
  - name: Product
    description: Endpoints for retrieving products.
  - name: Product Part
    description: Endpoints for retrieving product parts.
  - name: Document
    description: Endpoint for retrieving documents.
  - name: Board & Kit
    description: Endpoints for retrieving boards and kits.
  - name: Software Tool
    description: Endpoints for retrieving software tools.
  - name: Package
    description: Endpoints for retrieving packages.
paths:
  /products:
    get:
      tags:
        - Product
      security:
        - ApiKeyAuth: []
      summary: Get All Products
      parameters:
        - name: limit
          in: query
          description: The number of results to return (default 10).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: offset
          in: query
          description: >-
            The page number for pagination (default 0). This is multiplied by
            limit to get the actual offset.
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: order
          in: query
          description: >-
            Sorting property (default sort is by www update date). Multiple
            sorts can be supplied by comma concatenation.
          required: false
          schema:
            type: string
            enum:
              - wwwUpdateDate
              - title
            default: wwwUpdateDate
          example: wwwUpdateDate,title
        - name: orderDirection
          in: query
          description: >-
            Sorting direction (default is "desc"). Multiple directions can be
            defined for multiple sorts.
          required: false
          schema:
            type: string
            default: desc
          example: desc,asc
        - name: productId
          in: query
          description: Filter by product identifier.
          required: false
          schema:
            type: string
        - name: category
          in: query
          description: Filter by product category.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/product'
                  pagination:
                    type: object
                    properties:
                      offset:
                        type: integer
                        description: The actual offset used (page * limit)
                      limit:
                        type: integer
                        description: The number of items per page
                      total:
                        type: integer
                        description: Total number of items available
                      has_more:
                        type: boolean
                        description: Whether there are more items available
              example:
                data:
                  - productId: RA2A1
                    wwwUpdateDate: '2024-01-15T10:30:00Z'
                    url: https://www.renesas.com/products/ra2a1
                    uuid: 8a9c4b2e-1f3d-4e9a-b5c6-7d8e9f0a1b2c
                    title: >-
                      32-bit Microcontrollers with 48MHz Arm Cortex-M23 and
                      Integration of 24-bit Sigma-Delta ADC
                    category:
                      - level: 1
                        title: Microcontrollers & Microprocessors
                      - level: 2
                        title: RA Arm Cortex-M MCUs
                    description: >-
                      The RA2A1 group is a high-performance, low-power analog
                      microcontroller based on an Arm® Cortex®-M23 core with a
                      48MHz clock frequency and a wide range of analog front
                      ends, including two types of A/D converters.
                    features: |-
                      • 48MHz Arm Cortex-M23
                      • 256kB Flash memory and 32kB SRAM
                      • 16-bit SAR A/D, 24-bit SD A/D
                      • USB 2.0 Full Speed
                      • CAN 2.0
                    applications: Industrial automation, Process automation, Healthcare
                    images:
                      - >-
                        https://www.renesas.com/sites/default/files/ra2a1-block-diagram.png
                    orderableProducts:
                      - orderableId: R7FA2A1AB2CBT#AC0
                        href: /product-parts/R7FA2A1AB2CBT%23AC0
                    relatedBoardsKits:
                      - boardKitId: EK-RA2A1
                        title: Evaluation Kit for RA2A1 MCU Group
                        href: /boards-kits/EK-RA2A1
                    featuredDocuments:
                      - agileId: X1234567
                        dcpDocumentId: R01DS0354EJ0111
                        title: Renesas RA2A1 Group Datasheet
                        type: Datasheet
                        language: en
                        href: /documents/R01DS0354EJ0111
                    relatedDocuments:
                      - agileId: X1234567
                        dcpDocumentId: R01DS0354EJ0111
                        title: Renesas RA2A1 Group Datasheet
                        type: Datasheet
                        language: en
                        href: /documents/R01DS0354EJ0111
                    softwareTools:
                      - softwareToolName: Arm® Keil® MDK
                        href: /software-tools/Arm%C2%AE%20Keil%C2%AE%20MDK
                    applicationBlockDiagrams:
                      - title: USB-C Platform with Liquid Detection and Debug Access
                        description: >-
                          USB-C system with liquid detection and debug access
                          through a single connector, improving reliability
                          while simplifying development, testing, and
                          manufacturing.
                        imageUrl: >-
                          https://www.renesas.com/sites/default/files/usb-c-liquid-detection-block-diagram.png
                        url: >-
                          https://www.renesas.com/en/application/usb-c-platform-liquid-detection-debug-access
                pagination:
                  offset: 0
                  limit: 10
                  total: 256
                  has_more: true
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Failed to retrieve products list
  /products/{product_id}:
    get:
      tags:
        - Product
      security:
        - ApiKeyAuth: []
      summary: Get Product by ID
      parameters:
        - name: product_id
          in: path
          schema:
            type: string
          required: true
          description: The unique identifier of the product.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'
              example:
                productId: RA2A1
                wwwUpdateDate: '2024-01-15T10:30:00Z'
                url: https://www.renesas.com/products/ra2a1
                uuid: 8a9c4b2e-1f3d-4e9a-b5c6-7d8e9f0a1b2c
                title: >-
                  32-bit Microcontrollers with 48MHz Arm Cortex-M23 and
                  Integration of 24-bit Sigma-Delta ADC
                category:
                  - level: 1
                    title: Microcontrollers & Microprocessors
                  - level: 2
                    title: RA Arm Cortex-M MCUs
                description: >-
                  The RA2A1 group is a high-performance, low-power analog
                  microcontroller based on an Arm® Cortex®-M23 core with a 48MHz
                  clock frequency and a wide range of analog front ends,
                  including two types of A/D converters. This group supports a
                  16-bit SAR A/D converter, a 24-bit sigma-delta A/D converter,
                  a 12-bit D/A converter, comparators, and operational
                  amplifiers. These functions are suitable for applications that
                  measure and adjust sensor signals with high accuracy. In
                  addition, UART, I2C, simple SPI, CAN, and USB 2.0 Full-Speed
                  are also integrated as peripheral functions, enabling easy
                  communication with other devices. The RA2A1 supports a wide
                  operating voltage range of 1.6V to 5.5V, enabling
                  communication with devices operating at 5V without level
                  shifters. The RA2A1 MCU targets industrial sensor applications
                  with low power consumption and low-cost advantage.
                features: |-
                  • 48MHz Arm Cortex-M23
                  • 256kB Flash memory and 32kB SRAM
                  • 8kB Data Flash to store data as in EEPROM
                  • Scalable from 32-pin to 64-pin packages
                  • Capacitive touch sensing unit
                  • 16-bit SAR A/D, 24-bit SD A/D
                  • 12-bit D/A, 8-bit D/A
                  • OPAMP (3ch), ACMP-HS/LP
                  • USB 2.0 Full Speed
                  • CAN 2.0
                  • SCI (UART, Simple SPI, Simple I2C)
                applications: >-
                  Industrial automation (photoelectric sensor, fiber sensor,
                  temperature sensor), Process automation (pressure sensor, flow
                  control meter, single phase meter), Building automation/home
                  appliance (smoke detector), Healthcare (pulse oximeters, body
                  composition measurement), General purpose
                images:
                  - >-
                    https://www.renesas.com/sites/default/files/ra2a1-block-diagram.png
                orderableProducts:
                  - orderableId: R7FA2A1AB2CBT#AC0
                    href: /product-parts/R7FA2A1AB2CBT%23AC0
                  - orderableId: R7FA2A1AB3CFJ#AA0
                    href: /product-parts/R7FA2A1AB3CFJ%23AA0
                  - orderableId: R7FA2A1AB3CFM#AA0
                    href: /product-parts/R7FA2A1AB3CFM%23AA0
                relatedBoardsKits:
                  - boardKitId: EK-RA2A1
                    title: Evaluation Kit for RA2A1 MCU Group
                    href: /boards-kits/EK-RA2A1
                featuredDocuments:
                  - agileId: X1234567
                    dcpDocumentId: R01DS0354EJ0111
                    title: Renesas RA2A1 Group Datasheet
                    type: Datasheet
                    language: en
                    href: /documents/R01DS0354EJ0111
                  - agileId: X1234568
                    dcpDocumentId: R01UH0888EJ0110
                    title: 'Renesas RA2A1 Group User''s Manual: Hardware'
                    type: Manual - Hardware
                    language: en
                    href: /documents/R01UH0888EJ0110
                relatedDocuments:
                  - agileId: X1234567
                    dcpDocumentId: R01DS0354EJ0111
                    title: Renesas RA2A1 Group Datasheet
                    type: Datasheet
                    language: en
                    href: /documents/R01DS0354EJ0111
                  - agileId: X1234568
                    dcpDocumentId: R01UH0888EJ0110
                    title: 'Renesas RA2A1 Group User''s Manual: Hardware'
                    type: Manual - Hardware
                    language: en
                    href: /documents/R01UH0888EJ0110
                  - agileId: X1234569
                    dcpDocumentId: R01TB0027EJ0100
                    title: RA2A1 Group Handbook
                    type: Document
                    language: en
                    href: /documents/R01TB0027EJ0100
                relatedDocumentsSecondary:
                  - agileId: X1234569
                    dcpDocumentId: R01TB0027EJ0100
                    title: RA2A1 Group Handbook
                    type: Document
                    language: en
                    href: /documents/R01TB0027EJ0100
                softwareTools:
                  - softwareToolName: Arm® Keil® MDK
                    href: /software-tools/Arm%C2%AE%20Keil%C2%AE%20MDK
                  - softwareToolName: E2 Emulator (With Programming Function)
                    href: >-
                      /software-tools/E2%20Emulator%20(With%20Programming%20Function)
                  - softwareToolName: EK-RA2A1 Example Project Bundle
                    href: /software-tools/EK-RA2A1%20Example%20Project%20Bundle
                applicationBlockDiagrams:
                  - title: USB-C Platform with Liquid Detection and Debug Access
                    description: >-
                      USB-C system with liquid detection and debug access
                      through a single connector, improving reliability while
                      simplifying development, testing, and manufacturing.
                    imageUrl: >-
                      https://www.renesas.com/sites/default/files/usb-c-liquid-detection-block-diagram.png
                    url: >-
                      https://www.renesas.com/en/application/usb-c-platform-liquid-detection-debug-access
                  - title: USB Data Logger
                    description: >-
                      Portable USB-C data logger for high-speed, low-power, and
                      accurate metric recording anywhere.
                    imageUrl: >-
                      https://www.renesas.com/sites/default/files/usb-data-logger-block-diagram.png
                    url: https://www.renesas.com/en/application/usb-data-logger
                  - title: Electronic Toll with GNSS
                    description: >-
                      ETC systems automate toll payments to reduce traffic and
                      eliminate manual toll booth delays.
                    imageUrl: >-
                      https://www.renesas.com/sites/default/files/electronic-toll-gnss-block-diagram.png
                    url: >-
                      https://www.renesas.com/en/application/electronic-toll-gnss
                  - title: Gaming Keyboard
                    description: >-
                      A power-efficient, highly integrated, and compact keyboard
                      system with customizable RGB lighting and stable,
                      low-latency wireless performance.
                    imageUrl: >-
                      https://www.renesas.com/sites/default/files/gaming-keyboard-block-diagram.png
                    url: https://www.renesas.com/en/application/gaming-keyboard
                  - title: Gaming Mouse
                    description: >-
                      A power-efficient, highly integrated, and compact mouse
                      system with customizable RGB lighting and stable,
                      low-latency wireless performance.
                    imageUrl: >-
                      https://www.renesas.com/sites/default/files/gaming-mouse-block-diagram.png
                    url: https://www.renesas.com/en/application/gaming-mouse
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Product with ID 'invalid-id' not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Failed to retrieve product details
  /product-parts:
    get:
      tags:
        - Product Part
      security:
        - ApiKeyAuth: []
      summary: Get All Product Parts
      parameters:
        - name: limit
          in: query
          description: The number of results to return (default 10).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: offset
          in: query
          description: >-
            The page number for pagination (default 0). This is multiplied by
            limit to get the actual offset.
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: order
          in: query
          description: >-
            Sorting property (default sort is by last updated date). Multiple
            sorts can be supplied by comma concatenation.
          required: false
          schema:
            type: string
            enum:
              - last_updated
              - part_number
              - part_status
              - 1ku_price
              - stock
            default: last_updated
          example: last_updated,part_number
        - name: orderDirection
          in: query
          description: >-
            Sorting direction (default is "desc"). Multiple directions can be
            defined for multiple sorts.
          required: false
          schema:
            type: string
            default: desc
          example: desc,asc
        - name: part_number_prefix
          in: query
          description: Filter by part number prefix.
          required: false
          schema:
            type: string
        - name: part_number
          in: query
          description: Filter by exact part number.
          required: false
          schema:
            type: string
        - name: part_status
          in: query
          description: Filter by part status.
          required: false
          schema:
            type: string
            enum:
              - Active
              - Preview
              - NRND
              - Not Recommended for New Designs
              - Not Recommended<br /> for New Designs
              - Obsolete
        - name: generic_product_id
          in: query
          description: Filter by generic product ID.
          required: false
          schema:
            type: string
        - name: product_family
          in: query
          description: Filter by product family.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/product_part'
                  pagination:
                    type: object
                    properties:
                      offset:
                        type: integer
                        description: The actual offset used (page * limit)
                      limit:
                        type: integer
                        description: The number of items per page
                      total:
                        type: integer
                        description: Total number of items available
                      has_more:
                        type: boolean
                        description: Whether there are more items available
              example:
                data:
                  - orderableId: ISL91302B40-EVZ
                    productCategory: ''
                    firstProductSubcategory: Multi-Channel Power Management ICs (PMICs)
                    genericId: ISL91302B40-EVZ
                    genericTitle: >-
                      ISL91302B Evaluation Board 1, 4+0 PMIC, WLCSP RoHS
                      Compliant
                    genericUrl: >-
                      https://www.renesas.com/en/design-resources/boards-kits/isl91302b40-evz
                    productFamily: ''
                    1kuPrice: 352.42
                    status: Active
                    type: ''
                    description: ''
                    class: ''
                    category: ''
                    leadCount: 0
                    dimensions:
                      length: 0
                      width: 0
                      thickness: 0
                      pitch: 0
                    peakReflowTemperature: ''
                    leadFree: true
                    partAvailability: false
                    featuredDocument:
                      title: ''
                      url: ''
                    images: ''
                    regulatory:
                      htsus: 8471.30.1180
                      eccn: EAR99
                      moistureSensitivityLevel: Not Applicable
                      rohsCompliant: ''
                      chinaRohsCompliant: ''
                      hazardousMaterials:
                        mercury: ''
                        lead: ''
                        halogen: ''
                        cadmium: ''
                        hexavalentChromium: ''
                        pbde: ''
                        pbb: ''
                    lifecycle: ''
                    alternative:
                      alternativeGenericId: ''
                      alternativeNote: ''
                    packaging:
                      package:
                        packageCode: pkg_20001
                        href: /packages/pkg_20001
                      carrierType: Board Pack
                      packageCode: ''
                      pbFreeCategory: None
                      jedecStandard: ''
                      quantityPerCarrier: ''
                      quantityPerReel: ''
                      reelSize: ''
                      tapePin1Quad: ''
                      tapePocketPitch: ''
                      packageUrl: ''
                      packageDescription: The ISL91302B40-EVZ platform allows quick evaluation...
                      packageName: ''
                      prevCode: ''
                    plp: ''
                    sampleable: true
                    replacementProduct: ''
                    replacementProductRemark: ''
                    parametricAttributes:
                      - productPartAttributeId: field__display_1k_unit_price
                        attributeValues:
                          - 352.42
                        attributeName: Price (USD)
                        href: /product-parts/attributes/field__display_1k_unit_price
                      - productPartAttributeId: field__group_name_linked_url
                        attributeValues:
                          - >-
                            URL:
                            https://www.renesas.com/products/microcontrollers-microprocessors/ra-cortex-m-mcus/ra2a1-32mhz-arm-cortex-m23-with-capacitive-touch-sensing-unit-low-power-microcontroller|RA2A1
                        attributeName: Group Name
                        href: /product-parts/attributes/field__group_name_linked_url
                        attributeValuesParsed:
                          - type: URL
                            value: RA2A1
                            url: >-
                              https://www.renesas.com/products/microcontrollers-microprocessors/ra-cortex-m-mcus/ra2a1-32mhz-arm-cortex-m23-with-capacitive-touch-sensing-unit-low-power-microcontroller
                  - orderableId: ISL71090SEHX50SAMPLE
                    productCategory: Space & Harsh Environment
                    firstProductSubcategory: Hi-Rel Voltage References
                    genericId: ISL71090SEH50
                    genericTitle: >-
                      Radiation Hardened Ultra Low Noise, Precision Voltage
                      Reference
                    genericUrl: https://www.renesas.com/en/products/isl71090seh50
                    productFamily: ''
                    1kuPrice: ''
                    status: Active
                    type: ''
                    description: ''
                    class: ''
                    category: ''
                    leadCount: 0
                    dimensions:
                      length: 0
                      width: 0
                      thickness: 0
                      pitch: 0
                    peakReflowTemperature: ''
                    leadFree: true
                    partAvailability: false
                    featuredDocument:
                      title: ''
                      url: ''
                    images:
                      - >-
                        https://www.renesas.com/sites/default/files/isl71090seh50_0.png
                    regulatory:
                      htsus: 8542.39.0090
                      eccn: 9A515.e.1
                      moistureSensitivityLevel: Not Applicable
                      rohsCompliant: ''
                      chinaRohsCompliant: ''
                      hazardousMaterials:
                        mercury: ''
                        lead: ''
                        halogen: ''
                        cadmium: ''
                        hexavalentChromium: ''
                        pbde: ''
                        pbb: ''
                    lifecycle: ''
                    alternative:
                      alternativeGenericId: ''
                      alternativeNote: ''
                    packaging:
                      package:
                        packageCode: pkg_20002
                        href: /packages/pkg_20002
                      carrierType: Die Waffle Pack
                      packageCode: ''
                      pbFreeCategory: Not Applicable
                      jedecStandard: ''
                      quantityPerCarrier: ''
                      quantityPerReel: ''
                      reelSize: ''
                      tapePin1Quad: ''
                      tapePocketPitch: ''
                      packageUrl: ''
                      packageDescription: The ISL71090SEH50 is an ultra low noise...
                      packageName: ''
                      prevCode: ''
                    plp: ''
                    sampleable: false
                    replacementProduct: ''
                    replacementProductRemark: ''
                    parametricAttributes:
                      - productPartAttributeId: field__sel
                        attributeValues:
                          - '86'
                        attributeName: DSEE (MeV·cm2/mg)
                        href: /product-parts/attributes/field__sel
                      - productPartAttributeId: field__supply_voltage_min
                        attributeValues:
                          - to: '7'
                            from: '7'
                        attributeName: Supply Voltage (min)
                        href: /product-parts/attributes/field__supply_voltage_min
                  - orderableId: RAA7881502GSP#AB0
                    productCategory: Interface
                    firstProductSubcategory: RS-485/422 with Enhanced ESD Protection
                    genericId: RAA788150
                    genericTitle: >-
                      5V Full-Duplex, 0.115Mbps RS-485/422 Differential
                      Transceiver with ±5kV EFT Immunity and ±10kV ESD
                      Protection
                    genericUrl: https://www.renesas.com/en/products/raa788150
                    productFamily: ''
                    1kuPrice: 1.00163
                    status: Active
                    type: SOICN
                    description: ''
                    class: ''
                    category: ''
                    leadCount: 14
                    dimensions:
                      length: 8.7
                      width: 3.9
                      thickness: 0
                      pitch: 1.3
                    peakReflowTemperature: ''
                    leadFree: true
                    partAvailability: true
                    featuredDocument:
                      title: ''
                      url: ''
                    images:
                      - >-
                        https://www.renesas.com/sites/default/files/RAA788150%20-%20Typical%20Operating%20Circuit%20for%20Full-Duplex%20Transceiver.PNG
                      - >-
                        https://www.renesas.com/sites/default/files/RAA788150%20-%20Block%20Diagram.PNG
                    regulatory:
                      htsus: ''
                      eccn: ''
                      moistureSensitivityLevel: '3'
                      rohsCompliant: ''
                      chinaRohsCompliant: ''
                      hazardousMaterials:
                        mercury: ''
                        lead: ''
                        halogen: ''
                        cadmium: ''
                        hexavalentChromium: ''
                        pbde: ''
                        pbb: ''
                    lifecycle: ''
                    alternative:
                      alternativeGenericId: ''
                      alternativeNote: ''
                    packaging:
                      package:
                        packageCode: pkg_9399
                        href: /packages/pkg_9399
                      carrierType: Tube
                      packageCode: MOR
                      pbFreeCategory: Pb-Free 100% Matte Tin Plate w/Anneal-e3
                      jedecStandard: ''
                      quantityPerCarrier: ''
                      quantityPerReel: ''
                      reelSize: ''
                      tapePin1Quad: ''
                      tapePocketPitch: ''
                      packageUrl: https://www.renesas.com/en/package/mor
                      packageDescription: >-
                        The RAA788150 5V full-duplex powered RS-485/RS-422
                        transceiver...
                      packageName: M14.15
                      prevCode: MOR
                    plp: ''
                    sampleable: true
                    replacementProduct: ''
                    replacementProductRemark: ''
                    parametricAttributes:
                      - productPartAttributeId: field__data_rate
                        attributeValues:
                          - '0.115'
                        attributeName: Data Rate (Mbps)
                        href: /product-parts/attributes/field__data_rate
                      - productPartAttributeId: field__display_1k_unit_price
                        attributeValues:
                          - 1.00163
                        attributeName: Price (USD)
                        href: /product-parts/attributes/field__display_1k_unit_price
                pagination:
                  offset: 0
                  limit: 3
                  total: 8973
                  has_more: true
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Failed to retrieve parts list
  /product-parts/{orderable_id}:
    get:
      tags:
        - Product Part
      security:
        - ApiKeyAuth: []
      summary: Get Product Part by ID
      parameters:
        - name: orderable_id
          in: path
          schema:
            type: string
          required: true
          description: The unique identifier of the product part.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product_part'
              example:
                orderableId: R5F571MGCDFB#10
                productCategory: Microcontrollers & Microprocessors
                firstProductSubcategory: RX 32-Bit Performance/Efficiency MCUs
                genericId: RX71M
                genericTitle: >-
                  High Performance Real-time Engine 32-bit Microcontrollers for
                  Industrial Equipment
                genericUrl: https://www.renesas.com/en/products/rx71m
                productFamily: RX
                1kuPrice: 13.43121
                status: Active
                type: LFQFP
                description: ''
                class: IC
                category: ''
                leadCount: 144
                dimensions:
                  length: 20
                  width: 20
                  thickness: 1.7
                  pitch: 0.5
                peakReflowTemperature: ''
                leadFree: true
                partAvailability: false
                featuredDocument:
                  title: ''
                  url: ''
                images:
                  - >-
                    https://www.renesas.com/sites/default/files/block-rx71m_0.png
                  - >-
                    https://www.renesas.com/sites/default/files/rx71m-pin-memory-image-item-d_0.png
                  - >-
                    https://www.renesas.com/sites/default/files/rx71m-pin-memory-image-item-g_0.png
                chipImage: >-
                  https://www.renesas.com/sites/default/files/r5f571mgcdfb-chip.png
                regulatory:
                  htsus: 8542.31.0025
                  eccn: 3A991.a.2
                  moistureSensitivityLevel: '3'
                  rohsCompliant: true
                  chinaRohsCompliant: true
                  hazardousMaterials:
                    mercury: true
                    lead: true
                    halogen: true
                    cadmium: true
                    hexavalentChromium: true
                    pbde: true
                    pbb: true
                lifecycle: e
                alternative:
                  alternativeGenericId: ''
                  alternativeNote: ''
                packaging:
                  package:
                    packageCode: pkg_9398
                    href: /packages/pkg_9398
                  carrierType: Full Carton (Tray)
                  packageCode: pkg_9398
                  pbFreeCategory: ''
                  jedecStandard: ''
                  quantityPerCarrier: ''
                  quantityPerReel: ''
                  reelSize: ''
                  tapePin1Quad: ''
                  tapePocketPitch: ''
                  packageUrl: https://www.renesas.com/en/package/pkg9398
                  packageDescription: 32-bit microcontroller capable of up to 240 MHz operation...
                  packageName: PLQP0144KA-A
                  prevCode: FP-144LV
                plp: 2039/12
                sampleable: false
                replacementProduct: ''
                replacementProductRemark: ''
                parametricAttributes:
                  - productPartAttributeId: field__gpu
                    attributeValues:
                      - 'No'
                    attributeName: 3D GPU
                    href: /product-parts/attributes/field__gpu
                  - productPartAttributeId: field__i2c
                    attributeValues:
                      - '11'
                    attributeName: I2C
                    href: /product-parts/attributes/field__i2c
                  - productPartAttributeId: field__bit_length
                    attributeValues:
                      - '32'
                    attributeName: Bit Length
                    href: /product-parts/attributes/field__bit_length
                  - productPartAttributeId: field__supply_voltage_v
                    attributeValues:
                      - to: '3.6'
                        from: '2.7'
                    attributeName: Supply Voltage
                    href: /product-parts/attributes/field__supply_voltage_v
                  - productPartAttributeId: field__display_1k_unit_price
                    attributeValues:
                      - 13.43121
                    attributeName: Price (USD)
                    href: /product-parts/attributes/field__display_1k_unit_price
                  - productPartAttributeId: field__group_name_linked_url
                    attributeValues:
                      - >-
                        URL:
                        https://www.renesas.com/products/microcontrollers-microprocessors/rx-32-bit-performance-efficiency-mcus/rx71m-high-performance-real-time-engine-32-bit-microcontrollers-industrial-equipment|RX71M
                    attributeName: Group Name
                    href: /product-parts/attributes/field__group_name_linked_url
                    attributeValuesParsed:
                      - type: URL
                        value: RX71M
                        url: >-
                          https://www.renesas.com/products/microcontrollers-microprocessors/rx-32-bit-performance-efficiency-mcus/rx71m-high-performance-real-time-engine-32-bit-microcontrollers-industrial-equipment
        '404':
          description: Product part not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Product part with ID 'INVALID123' not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Failed to retrieve product part
  /product-parts/search:
    post:
      tags:
        - Product Part
      security:
        - ApiKeyAuth: []
      summary: Parametric Search for Product Parts
      description: >-
        Search for product parts within a specific product using parametric
        attributes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - productId
              properties:
                productId:
                  type: string
                  description: The product identifier to search within (required).
                  example: RA2A1
                limit:
                  type: integer
                  description: The number of results to return (default 10).
                  minimum: 1
                  maximum: 100
                  default: 10
                offset:
                  type: integer
                  description: >-
                    The page number for pagination (default 0). This is
                    multiplied by limit to get the actual offset.
                  minimum: 0
                  default: 0
                filters:
                  type: array
                  description: Array of parametric attribute filters.
                  items:
                    type: object
                    required:
                      - productPartAttributeId
                    properties:
                      productPartAttributeId:
                        type: string
                        description: The attribute identifier to filter by.
                        example: field__segment_lcd_controller
                      values:
                        type: array
                        description: Values to match (OR operation within this array).
                        items:
                          oneOf:
                            - type: string
                            - type: number
                            - type: boolean
                        example:
                          - 'Yes'
                          - Available
                      operator:
                        type: string
                        description: Comparison operator for numeric values.
                        enum:
                          - eq
                          - gt
                          - gte
                          - lt
                          - lte
                          - range
                        default: eq
                      min:
                        type: number
                        description: Minimum value for range operator.
                      max:
                        type: number
                        description: Maximum value for range operator.
            example:
              productId: RA2A1
              limit: 20
              offset: 0
              filters:
                - productPartAttributeId: field__operating_frequency
                  operator: gte
                  min: 48
                - productPartAttributeId: field__package_type
                  values:
                    - LQFP
                    - QFN
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        orderableId:
                          type: string
                          description: Orderable product part identifier.
                        genericId:
                          type: string
                          description: Generic product identifier.
                        status:
                          type: string
                          description: Part status.
                        parametricAttributes:
                          type: array
                          description: Array of parametric attribute objects.
                          items:
                            type: object
                            properties:
                              productPartAttributeId:
                                type: string
                              attributeValues:
                                type: array
                                items:
                                  oneOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                                    - type: object
                              attributeName:
                                type: string
                              href:
                                type: string
                                format: uri
                        href:
                          type: string
                          format: uri
                          description: URL to the full product part details.
                  pagination:
                    type: object
                    properties:
                      offset:
                        type: integer
                        description: The actual offset used (page * limit)
                      limit:
                        type: integer
                        description: The number of items per page
                      total:
                        type: integer
                        description: Total number of items matching the search
                      has_more:
                        type: boolean
                        description: Whether there are more items available
                  filters:
                    type: object
                    description: The filters that were applied.
              example:
                data:
                  - orderableId: R7FA2A1AB3CFM#AA0
                    genericId: RA2A1
                    status: Active
                    parametricAttributes:
                      - productPartAttributeId: field__operating_frequency
                        attributeValues:
                          - 48
                        attributeName: Operating Frequency (MHz)
                        href: /product-parts/attributes/field__operating_frequency
                      - productPartAttributeId: field__package_type
                        attributeValues:
                          - LQFP
                        attributeName: Package Type
                        href: /product-parts/attributes/field__package_type
                      - productPartAttributeId: field__pin_count
                        attributeValues:
                          - 48
                        attributeName: Pin Count
                        href: /product-parts/attributes/field__pin_count
                      - productPartAttributeId: field__flash_memory_kb
                        attributeValues:
                          - 256
                        attributeName: Flash Memory (KB)
                        href: /product-parts/attributes/field__flash_memory_kb
                      - productPartAttributeId: field__ram_kb
                        attributeValues:
                          - 32
                        attributeName: RAM (KB)
                        href: /product-parts/attributes/field__ram_kb
                    href: /product-parts/R7FA2A1AB3CFM%23AA0
                  - orderableId: R7FA2A1AB3CFM#BA0
                    genericId: RA2A1
                    status: Active
                    parametricAttributes:
                      - productPartAttributeId: field__operating_frequency
                        attributeValues:
                          - 48
                        attributeName: Operating Frequency (MHz)
                        href: /product-parts/attributes/field__operating_frequency
                      - productPartAttributeId: field__package_type
                        attributeValues:
                          - LQFP
                        attributeName: Package Type
                        href: /product-parts/attributes/field__package_type
                      - productPartAttributeId: field__pin_count
                        attributeValues:
                          - 48
                        attributeName: Pin Count
                        href: /product-parts/attributes/field__pin_count
                      - productPartAttributeId: field__flash_memory_kb
                        attributeValues:
                          - 256
                        attributeName: Flash Memory (KB)
                        href: /product-parts/attributes/field__flash_memory_kb
                      - productPartAttributeId: field__ram_kb
                        attributeValues:
                          - 32
                        attributeName: RAM (KB)
                        href: /product-parts/attributes/field__ram_kb
                    href: /product-parts/R7FA2A1AB3CFM%23BA0
                  - orderableId: R7FA2A1AB3CNF#AA0
                    genericId: RA2A1
                    status: Active
                    parametricAttributes:
                      - productPartAttributeId: field__operating_frequency
                        attributeValues:
                          - 48
                        attributeName: Operating Frequency (MHz)
                        href: /product-parts/attributes/field__operating_frequency
                      - productPartAttributeId: field__package_type
                        attributeValues:
                          - QFN
                        attributeName: Package Type
                        href: /product-parts/attributes/field__package_type
                      - productPartAttributeId: field__pin_count
                        attributeValues:
                          - 40
                        attributeName: Pin Count
                        href: /product-parts/attributes/field__pin_count
                      - productPartAttributeId: field__flash_memory_kb
                        attributeValues:
                          - 256
                        attributeName: Flash Memory (KB)
                        href: /product-parts/attributes/field__flash_memory_kb
                      - productPartAttributeId: field__ram_kb
                        attributeValues:
                          - 32
                        attributeName: RAM (KB)
                        href: /product-parts/attributes/field__ram_kb
                    href: /product-parts/R7FA2A1AB3CNF%23AA0
                pagination:
                  offset: 0
                  limit: 20
                  total: 7
                  has_more: false
                filters:
                  productId: RA2A1
                  applied:
                    - productPartAttributeId: field__operating_frequency
                      operator: gte
                      min: 48
                    - productPartAttributeId: field__package_type
                      values:
                        - LQFP
                        - QFN
        '400':
          description: Bad request - missing required productId or invalid filters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: productId is required
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Product with ID 'RA2A1' not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Failed to perform parametric search
  /product-parts/attributes:
    get:
      tags:
        - Product Part
      security:
        - ApiKeyAuth: []
      summary: Get All Product Part Attributes
      description: >-
        List all available parametric attributes that can be used for filtering
        product parts.
      parameters:
        - name: limit
          in: query
          description: The number of results to return (default 50).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          description: >-
            The page number for pagination (default 0). This is multiplied by
            limit to get the actual offset.
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: productId
          in: query
          description: >-
            Filter attributes by product ID to get only attributes relevant to
            that product.
          required: false
          schema:
            type: string
          example: RA2A1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/product_part_attribute'
                  pagination:
                    type: object
                    properties:
                      offset:
                        type: integer
                        description: The actual offset used (page * limit)
                      limit:
                        type: integer
                        description: The number of items per page
                      total:
                        type: integer
                        description: Total number of attributes available
                      has_more:
                        type: boolean
                        description: Whether there are more items available
              example:
                data:
                  - productPartAttributeId: field__operating_frequency
                    attributeName: Operating Frequency (MHz)
                    attributeType: numeric
                    description: Maximum operating frequency of the microcontroller
                    unit: MHz
                    filterType: range
                  - productPartAttributeId: field__package_type
                    attributeName: Package Type
                    attributeType: string
                    description: Physical package type of the component
                    unit: null
                    filterType: select
                    possibleValues:
                      - LQFP
                      - QFN
                      - BGA
                      - TQFP
                  - productPartAttributeId: field__memory_flash_kb
                    attributeName: Flash Memory (KB)
                    attributeType: numeric
                    description: On-chip flash memory size
                    unit: KB
                    filterType: range
                  - productPartAttributeId: field__memory_ram_kb
                    attributeName: RAM (KB)
                    attributeType: numeric
                    description: On-chip RAM size
                    unit: KB
                    filterType: range
                  - productPartAttributeId: field__segment_lcd_controller
                    attributeName: Segment LCD Controller
                    attributeType: boolean
                    description: Has segment LCD controller
                    unit: null
                    filterType: boolean
                    possibleValues:
                      - 'Yes'
                      - 'No'
                pagination:
                  offset: 0
                  limit: 50
                  total: 127
                  has_more: true
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Failed to retrieve product part attributes
  /product-parts/attributes/{productPartAttributeId}:
    get:
      tags:
        - Product Part
      security:
        - ApiKeyAuth: []
      summary: Get Product Part Attribute by ID
      parameters:
        - name: productPartAttributeId
          in: path
          required: true
          description: The unique identifier of the product part attribute.
          schema:
            type: string
          example: field__operating_frequency
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product_part_attribute'
              example:
                productPartAttributeId: field__operating_frequency
                attributeName: Operating Frequency (MHz)
                attributeType: numeric
                description: Maximum operating frequency of the microcontroller
                unit: MHz
                filterType: range
        '404':
          description: Product part attribute not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Product part attribute with ID 'field__invalid' not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Failed to retrieve product part attribute
  /product-parts/cross-reference:
    post:
      tags:
        - Product Part
      security:
        - ApiKeyAuth: []
      summary: Cross Reference Product Parts
      description: >
        Find Renesas replacement parts for up to 200 competitor part numbers per
        request. Inputs with no matches are included in the response with an
        empty `results` array.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - partNumbers
              properties:
                partNumbers:
                  type: array
                  description: List of competitor part numbers to look up. Maximum 200.
                  minItems: 1
                  maxItems: 200
                  items:
                    type: string
            example:
              partNumbers:
                - STM32F103C8T6
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: One entry per input part number, in request order.
                    items:
                      type: object
                      properties:
                        partNumber:
                          type: string
                          description: The input part number this entry corresponds to.
                        results:
                          type: array
                          description: >-
                            Matching Renesas parts. Empty array if no
                            cross-references were found.
                          items:
                            type: object
                            properties:
                              crossPartNumber:
                                type: string
                                description: >-
                                  The competitor part number as stored in the
                                  cross-reference database.
                              crossManufacturer:
                                type: string
                                description: Manufacturer of the competitor part.
                              matchType:
                                type: string
                                description: >
                                  How closely the Renesas part matches the
                                  queried part.

                                  - `Drop-in` — Pin-for-Pin Replacement. Form,
                                  fit, function, and all electrical
                                  specifications are identical.

                                  - `Footprint` — Pin Equivalent, but electrical
                                  specifications are not identical. Minor
                                  redesign may be needed, but board re-layout
                                  may not be needed.

                                  - `Functional` — Equivalent part, but pin
                                  configuration is not similar. Minor redesign
                                  and board re-layout may be required.
                                enum:
                                  - Drop-in
                                  - Footprint
                                  - Functional
                              orderableId:
                                type: string
                                description: >-
                                  Renesas orderable part number, present when
                                  matched via orderable ID.
                              genericId:
                                type: string
                                description: >-
                                  Renesas generic product identifier, present
                                  when matched via generic ID.
                              status:
                                type: string
                                description: Part lifecycle status.
                              comments:
                                type: string
                                description: >-
                                  Any notes or caveats about this
                                  cross-reference match.
                              description:
                                type: string
                                description: Renesas part description.
                              dataSource:
                                type: string
                                description: Origin of this cross-reference record.
                                enum:
                                  - Renesas Database
                              href:
                                type: string
                                format: uri
                                description: URL to the full product part details.
              example:
                data:
                  - partNumber: STM32F103C8T6
                    results:
                      - crossPartNumber: STM32F103C8T6
                        crossManufacturer: STMicroelectronics
                        matchType: Functional
                        genericId: RX63T
                        status: Active
                        comments: >-
                          32-bit Microcontrollers for Motor Control Enhancing
                          the Precision of Inverter/Converter Control
                        description: >-
                          Like the RX62T Group, the high performance (max. 100
                          MHz) of this microcontroller makes it ideal for motor
                          control. On-chip functions include multifunction
                          timers (MTU3 and GPT) that facilitate mot...
                        dataSource: Renesas Database
                        href: /product-parts/RX63T
                      - crossPartNumber: STM32F103C8T6
                        crossManufacturer: STMicroelectronics
                        matchType: Functional
                        orderableId: R5F563T5EDFL#10
                        genericId: RX63T
                        status: NRND
                        comments: >-
                          32-bit Microcontrollers for Motor Control Enhancing
                          the Precision of Inverter/Converter Control
                        description: >-
                          Like the RX62T Group, the high performance (max. 100
                          MHz) of this microcontroller makes it ideal for motor
                          control. On-chip functions include multifunction
                          timers (MTU3 and GPT) that facilitate mot...
                        dataSource: Renesas Database
                        href: /product-parts/R5F563T5EDFL%2310
                      - crossPartNumber: STM32F103C8T6
                        crossManufacturer: STMicroelectronics
                        matchType: Functional
                        orderableId: R5F563T5EDFL#V0
                        genericId: RX63T
                        status: NRND
                        comments: >-
                          32-bit Microcontrollers for Motor Control Enhancing
                          the Precision of Inverter/Converter Control
                        description: >-
                          Like the RX62T Group, the high performance (max. 100
                          MHz) of this microcontroller makes it ideal for motor
                          control. On-chip functions include multifunction
                          timers (MTU3 and GPT) that facilitate mot...
                        dataSource: Renesas Database
                        href: /product-parts/R5F563T5EDFL%23V0
                      - crossPartNumber: STM32F103C8T6
                        crossManufacturer: STMicroelectronics
                        matchType: Functional
                        orderableId: R5F563T5EGFL#V0
                        genericId: RX63T
                        status: NRND
                        comments: >-
                          32-bit Microcontrollers for Motor Control Enhancing
                          the Precision of Inverter/Converter Control
                        description: >-
                          Like the RX62T Group, the high performance (max. 100
                          MHz) of this microcontroller makes it ideal for motor
                          control. On-chip functions include multifunction
                          timers (MTU3 and GPT) that facilitate mot...
                        dataSource: Renesas Database
                        href: /product-parts/R5F563T5EGFL%23V0
                      - crossPartNumber: STM32F103C8T6
                        crossManufacturer: STMicroelectronics
                        matchType: Functional
                        orderableId: R5F563T6EGFL#V0
                        genericId: RX63T
                        status: NRND
                        comments: >-
                          32-bit Microcontrollers for Motor Control Enhancing
                          the Precision of Inverter/Converter Control
                        description: >-
                          Like the RX62T Group, the high performance (max. 100
                          MHz) of this microcontroller makes it ideal for motor
                          control. On-chip functions include multifunction
                          timers (MTU3 and GPT) that facilitate mot...
                        dataSource: Renesas Database
                        href: /product-parts/R5F563T6EGFL%23V0
        '400':
          description: Bad request - missing or invalid request body
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: >-
                  partNumbers is required and must contain between 1 and 200
                  entries
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Failed to retrieve cross-reference results
  /documents:
    get:
      tags:
        - Document
      summary: Get All Documents
      parameters:
        - name: limit
          in: query
          description: The number of results to return (default 10).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: The offset for pagination.
          required: false
          schema:
            type: integer
            minimum: 0
        - name: language
          in: query
          description: Filter by document language (`en`, `ja`, `zh-hans`).
          required: false
          schema:
            type: string
            enum:
              - en
              - ja
              - zh-hans
        - name: dcpDocumentIdStartsWith
          in: query
          description: Filter by DCP Document ID prefix.
          required: false
          schema:
            type: string
        - name: productId
          in: query
          description: Filter by associated product ID.
          required: false
          schema:
            type: string
        - name: type
          in: query
          description: >
            Filter by document type. Example values: `Datasheet`, `Datasheet -
            Short-Form`, `Datasheet Addendum`, `Datasheet Change Notice Guide`,
            `Manual - Development Tools`, `Manual - Hardware`, `Manual -
            Software`, `Quick Start Guide`, `General Reliability Literature`,
            `ICP Test Report`, `Materials Composition Declaration`, `MSDS
            Document`, `Product Reliability Report`.
          required: false
          schema:
            type: string
        - name: subType
          in: query
          description: >
            Filter by document sub-type. Example values: `Core Module`, `Driver
            Package`, `FIT Module`, `FreeRTOS`, `Software Integration System
            Application Example`, `Development Environment`, `Middleware`,
            `Migration Guide`, `Peripherals - Analog`, `Peripherals - Built-in
            Memory`, `Peripherals - Clock`, `Peripherals - Communication`,
            `Peripherals - Other`, `Peripherals - Security`, `Peripherals -
            Timer`.
          required: false
          schema:
            type: string
        - name: category
          in: query
          description: Filter by the product category the document is associated with.
          required: false
          schema:
            type: string
        - name: documentRevisionDateStart
          in: query
          description: Filter by documents revised on or after this date (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
        - name: documentRevisionDateEnd
          in: query
          description: Filter by documents revised on or before this date (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/document'
                  pagination:
                    type: object
                    properties:
                      offset:
                        type: integer
                        description: The actual offset used
                      limit:
                        type: integer
                        description: The number of items per page
                      total:
                        type: integer
                        description: Total number of items available
                      has_more:
                        type: boolean
                        description: Whether there are more items available
              example:
                data:
                  - agileId: X0052700
                    dcpDocumentId: R01DS0249EJ0120
                    url: >-
                      https://www.renesas.com/en/document/dst/rx71m-datasheet-group-rev120-r01ds0249ej0120
                    category:
                      - level: 1
                        title: Microcontrollers & Microprocessors
                      - level: 2
                        title: RX 32-Bit Performance/Efficiency MCUs
                    product:
                      - productId: RX71M
                        type: Product
                        title: RX71M Group
                        nid: '12345'
                        uuid: 550e8400-e29b-41d4-a716-446655440000
                        language: en
                    title: RX71M Datasheet Group Rev.1.20
                    type: Datasheet
                    fileType: PDF
                    secureDocument: false
                    href: /documents/R01DS0249EJ0120
                    revisionDate: '2024-01-15'
                    wwwUpdateDate: '2024-01-15T10:30:00Z'
                    language: en
                    nid: '67890'
                    uuid: 660f9550-f3ac-42e5-b827-556766550001
                    published: true
                    featured: true
                    filename: r01ds0249ej0120.pdf
                    myrenesasDocument: false
                  - agileId: X0061760
                    dcpDocumentId: R01AN0184EJ0110
                    url: >-
                      https://www.renesas.com/en/document/apn/rx-family-driver-package-application-note
                    category:
                      - level: 1
                        title: Microcontrollers & Microprocessors
                      - level: 2
                        title: RX 32-Bit Performance/Efficiency MCUs
                    title: RX Family Driver Package Application Note
                    type: Manual - Software
                    subType:
                      - Driver Package
                    fileType: PDF
                    secureDocument: false
                    href: /documents/R01AN0184EJ0110
                    revisionDate: '2023-12-10'
                    wwwUpdateDate: '2023-12-10T14:20:00Z'
                    language: en
                    nid: '67891'
                    uuid: 770f9550-f3ac-42e5-b827-556766550002
                    published: true
                    featured: false
                    filename: r01an0184ej0110.pdf
                    myrenesasDocument: false
                pagination:
                  offset: 0
                  limit: 10
                  total: 1523
                  has_more: true
  /documents/types:
    get:
      tags:
        - Document
      security:
        - ApiKeyAuth: []
      summary: Get All Document Types
      description: List all available document types and their associated sub-types.
      parameters:
        - name: limit
          in: query
          description: The number of results to return (default 50).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          description: The offset for pagination (default 0).
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/document_type'
                  pagination:
                    type: object
                    properties:
                      offset:
                        type: integer
                        description: The actual offset used
                      limit:
                        type: integer
                        description: The number of items per page
                      total:
                        type: integer
                        description: Total number of document types available
                      has_more:
                        type: boolean
                        description: Whether there are more items available
              example:
                data:
                  - type: Datasheet
                    subTypes: []
                  - type: Datasheet - Short-Form
                    subTypes: []
                  - type: Datasheet Addendum
                    subTypes: []
                  - type: Datasheet Change Notice Guide
                    subTypes: []
                  - type: Manual - Development Tools
                    subTypes: []
                  - type: Manual - Hardware
                    subTypes:
                      - Peripherals - Analog
                      - Peripherals - Built-in Memory
                      - Peripherals - Clock
                      - Peripherals - Communication
                      - Peripherals - Other
                      - Peripherals - Security
                      - Peripherals - Timer
                  - type: Manual - Software
                    subTypes:
                      - Core Module
                      - Development Environment
                      - Driver Package
                      - FIT Module
                      - FreeRTOS
                      - Middleware
                      - Migration Guide
                      - Software Integration System Application Example
                  - type: Quick Start Guide
                    subTypes: []
                  - type: General Reliability Literature
                    subTypes: []
                  - type: ICP Test Report
                    subTypes: []
                  - type: Materials Composition Declaration
                    subTypes: []
                  - type: MSDS Document
                    subTypes: []
                  - type: Product Reliability Report
                    subTypes: []
                pagination:
                  offset: 0
                  limit: 50
                  total: 13
                  has_more: false
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Failed to retrieve document types
  /documents/{dcp_id}:
    get:
      tags:
        - Document
      summary: Get Document by DCP Document ID
      parameters:
        - name: dcp_id
          in: path
          required: true
          description: The DCP document identifier.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
              example:
                agileId: X0052700
                dcpDocumentId: R01DS0249EJ0120
                url: >-
                  https://www.renesas.com/en/document/dst/rx71m-datasheet-group-rev120-r01ds0249ej0120
                category:
                  - level: 1
                    title: Microcontrollers & Microprocessors
                  - level: 2
                    title: RX 32-Bit Performance/Efficiency MCUs
                product:
                  - productId: RX71M
                    type: Product
                    title: RX71M Group
                    nid: '12345'
                    uuid: 550e8400-e29b-41d4-a716-446655440000
                    language: en
                title: RX71M Datasheet Group Rev.1.20
                type: Datasheet
                fileType: PDF
                secureDocument: false
                revisionDate: '2024-01-15'
                wwwUpdateDate: '2024-01-15T10:30:00Z'
                language: en
                nid: '67890'
                uuid: 660f9550-f3ac-42e5-b827-556766550001
                translation:
                  - language: ja
                    dcpDocumentId: R01DS0249JJ0120
                    agileId: X0052700
                    title: RX71Mグループ データシート Rev.1.20
                    href: /documents/R01DS0249JJ0120
                published: true
                featured: true
                filename: r01ds0249ej0120.pdf
                disclaimer:
                  - dcpDocumentId: DISC789012
                    agileId: X1234567
                    language: en
                    title: Standard Product Disclaimer
                    href: /documents/DISC789012
                myrenesasDocument: false
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Document with DCP ID 'INVALID123' not found
  /documents/agile-id/{agile_id}:
    get:
      tags:
        - Document
      summary: Get Document by Agile ID
      parameters:
        - name: agile_id
          in: path
          required: true
          description: The Agile ID of the document.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
              example:
                agileId: X0061760
                dcpDocumentId: R01AN0184EJ0110
                url: >-
                  https://www.renesas.com/en/document/apn/rx-family-driver-package-application-note
                category:
                  - level: 1
                    title: Microcontrollers & Microprocessors
                  - level: 2
                    title: RX 32-Bit Performance/Efficiency MCUs
                title: RX Family Driver Package Application Note
                type: Manual - Software
                subType: Driver Package
                fileType: PDF
                secureDocument: false
                revisionDate: '2023-12-10'
                wwwUpdateDate: '2023-12-10T14:20:00Z'
                language: en
                nid: '67891'
                uuid: 770f9550-f3ac-42e5-b827-556766550002
                published: true
                featured: false
                filename: r01an0184ej0110.pdf
                myrenesasDocument: false
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Document with Agile ID 'INVALID123' not found
  /boards-kits:
    get:
      tags:
        - Board & Kit
      security:
        - ApiKeyAuth: []
      summary: Get All Boards & Kits
      parameters:
        - name: limit
          in: query
          description: The number of results to return (default 10).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: offset
          in: query
          description: >-
            The page number for pagination (default 0). This is multiplied by
            limit to get the actual offset.
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: order
          in: query
          description: >-
            Sorting property (default sort is by www update date). Multiple
            sorts can be supplied by comma concatenation.
          required: false
          schema:
            type: string
            enum:
              - wwwUpdateDate
              - title
              - boardKitType
            default: wwwUpdateDate
          example: wwwUpdateDate,title
        - name: orderDirection
          in: query
          description: >-
            Sorting direction (default is "desc"). Multiple directions can be
            defined for multiple sorts.
          required: false
          schema:
            type: string
            default: desc
          example: desc,asc
        - name: boardKitId
          in: query
          description: Filter by board/kit identifier.
          required: false
          schema:
            type: string
        - name: boardKitType
          in: query
          description: Filter by board/kit type.
          required: false
          schema:
            type: string
            enum:
              - development
              - evaluation
              - demonstration
              - reference
              - starter
        - name: category
          in: query
          description: Filter by product category.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/board_kit'
                  pagination:
                    type: object
                    properties:
                      offset:
                        type: integer
                        description: The actual offset used (page * limit)
                      limit:
                        type: integer
                        description: The number of items per page
                      total:
                        type: integer
                        description: Total number of items available
                      has_more:
                        type: boolean
                        description: Whether there are more items available
              example:
                data:
                  - boardKitId: rx71m-starter-kit-plus
                    wwwUpdateDate: '2024-01-15T10:30:00Z'
                    url: >-
                      https://www.renesas.com/design-resources/boards-kits/rx71m-starter-kit-plus
                    uuid: 5cdd14dc-21a8-4e9e-9d4d-4a83042b4e47
                    title: Renesas Starter Kit+ for RX71M
                    boardKitType: evaluation
                    category:
                      - level: 1
                        title: Microcontrollers & Microprocessors
                      - level: 2
                        title: RX 32-Bit Performance/Efficiency MCUs
                    description: >-
                      32-bit microcontroller capable of up to 240 MHz operation.
                      Employs the RXv2 core, a more powerful evolved form of the
                      RX core that was used in previous RX devices, while
                      maintaining compatibility.
                    features: >-
                      On-board debugger, Arduino compatible headers, multiple
                      interface options
                    applications: Industrial automation, motor control, IoT applications
                    images:
                      - >-
                        https://www.renesas.com/sites/default/files/rx71m-evb-top.jpg
                      - >-
                        https://www.renesas.com/sites/default/files/rx71m-evb-bottom.jpg
                    orderableProducts:
                      - orderableId: R5F571MFCDFB#V0
                        href: /product-parts/R5F571MFCDFB%23V0
                    partner:
                      - name: TESSERA Technology Inc.
                        url: https://www.tessera.co.jp/eng/
                    relatedBoardsKits:
                      - boardKitId: RX71M-Starter-Kit-Plus
                        title: Renesas Starter Kit+ for RX71M
                        href: /boards-kits/RX71M-Starter-Kit-Plus
                      - boardKitId: YRPBRX71M
                        title: >-
                          RX71M Revelation Kit - Easy Evaluation and Development
                          with RX71M
                        href: /boards-kits/YRPBRX71M
                    featuredDocuments:
                      - agileId: X0052700
                        dcpDocumentId: R01DS0249EJ0120
                        title: RX71M Datasheet Group Rev.1.20
                        type: Datasheet
                        language: en
                        href: /documents/R01DS0249EJ0120
                    relatedDocuments:
                      - agileId: X0052700
                        dcpDocumentId: R01DS0249EJ0120
                        title: RX71M Datasheet Group Rev.1.20
                        type: Datasheet
                        language: en
                        href: /documents/R01DS0249EJ0120
                  - boardKitId: s7g2-dk
                    wwwUpdateDate: '2024-01-10T14:20:00Z'
                    url: >-
                      https://www.renesas.com/design-resources/boards-kits/s7g2-dk
                    uuid: 2b8f94ac-31d8-4e2e-8c3d-5b92053c5e48
                    title: Synergy S7G2 Development Kit
                    boardKitType: development
                    category:
                      - level: 1
                        title: Microcontrollers & Microprocessors
                      - level: 2
                        title: Synergy MCUs
                    description: >-
                      Complete development kit for Synergy S7G2 microcontroller
                      with integrated development environment and rich
                      connectivity options
                    features: >-
                      Integrated development environment, rich connectivity
                      options
                    applications: IoT gateways, industrial HMI, connected appliances
                    images:
                      - >-
                        https://www.renesas.com/sites/default/files/s7g2-dk-main.jpg
                    orderableProducts:
                      - orderableId: S7G2DK
                        href: /product-parts/S7G2DK
                    partner:
                      - name: TESSERA Technology Inc.
                        url: https://www.tessera.co.jp/eng/
                pagination:
                  offset: 0
                  limit: 10
                  total: 156
                  has_more: true
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Failed to retrieve boards and kits list
  /boards-kits/{board_kit_id}:
    get:
      tags:
        - Board & Kit
      security:
        - ApiKeyAuth: []
      summary: Get Board or Kit by ID
      parameters:
        - name: board_kit_id
          in: path
          schema:
            type: string
          required: true
          description: The unique identifier of the board or kit.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/board_kit'
              example:
                boardKitId: rx71m-starter-kit-plus
                wwwUpdateDate: '2024-01-15T10:30:00Z'
                url: >-
                  https://www.renesas.com/design-resources/boards-kits/rx71m-starter-kit-plus
                uuid: 5cdd14dc-21a8-4e9e-9d4d-4a83042b4e47
                title: Renesas Starter Kit+ for RX71M
                boardKitType: evaluation
                category:
                  - level: 1
                    title: Microcontrollers & Microprocessors
                  - level: 2
                    title: RX 32-Bit Performance/Efficiency MCUs
                description: >-
                  32-bit microcontroller capable of up to 240 MHz operation.
                  Employs the RXv2 core, a more powerful evolved form of the RX
                  core that was used in previous RX devices, while maintaining
                  compatibility. Realizes 1160 CoreMark, the top performance
                  among microcontrollers with built-in flash.
                features: >-
                  On-board debugger, Arduino compatible headers, multiple
                  interface options
                applications: Industrial automation, motor control, IoT applications
                additionalDetails: >-
                  The RX71M evaluation board provides a complete development
                  environment for evaluating and developing applications using
                  the RX71M microcontroller.
                images:
                  - >-
                    https://www.renesas.com/sites/default/files/rx71m-evb-top.jpg
                  - >-
                    https://www.renesas.com/sites/default/files/rx71m-evb-bottom.jpg
                orderableProducts:
                  - orderableId: R5F571MFCDFB#V0
                    href: /product-parts/R5F571MFCDFB%23V0
                  - orderableId: R5F571MFCDFC#V0
                    href: /product-parts/R5F571MFCDFC%23V0
                relatedBoardsKits:
                  - boardKitId: RX71M-Starter-Kit-Plus
                    title: Renesas Starter Kit+ for RX71M
                    href: /boards-kits/RX71M-Starter-Kit-Plus
                  - boardKitId: YRPBRX71M
                    title: >-
                      RX71M Revelation Kit - Easy Evaluation and Development
                      with RX71M
                    href: /boards-kits/YRPBRX71M
                featuredDocuments:
                  - agileId: X0052700
                    dcpDocumentId: R01DS0249EJ0120
                    title: RX71M Datasheet Group Rev.1.20
                    type: Datasheet
                    language: en
                    href: /documents/R01DS0249EJ0120
                relatedDocuments:
                  - agileId: X0052700
                    dcpDocumentId: R01DS0249EJ0120
                    title: RX71M Datasheet Group Rev.1.20
                    type: Datasheet
                    language: en
                    href: /documents/R01DS0249EJ0120
                softwareTools:
                  - name: e2 studio
                    url: https://www.renesas.com/en/software-tool/e2-studio
                  - name: Renesas Flash Programmer (Programming GUI)
                    url: >-
                      https://www.renesas.com/en/software-tool/renesas-flash-programmer-programming-gui
                partner:
                  - name: TESSERA Technology Inc.
                    url: https://www.tessera.co.jp/eng/
        '404':
          description: Board or kit not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Board/kit with ID 'invalid-id' not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Failed to retrieve board/kit details
  /packages:
    get:
      tags:
        - Package
      security:
        - ApiKeyAuth: []
      summary: Get All Packages
      parameters:
        - name: limit
          in: query
          description: The number of results to return (default 10).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: offset
          in: query
          description: >-
            The page number for pagination (default 0). This is multiplied by
            limit to get the actual offset.
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: order
          in: query
          description: >-
            Sorting property (default sort is by www update date). Multiple
            sorts can be supplied by comma concatenation.
          required: false
          schema:
            type: string
            enum:
              - wwwUpdateDate
              - packageCode
              - packageType
              - packageStatus
            default: wwwUpdateDate
          example: wwwUpdateDate,packageCode
        - name: orderDirection
          in: query
          description: >-
            Sorting direction (default is "desc"). Multiple directions can be
            defined for multiple sorts.
          required: false
          schema:
            type: string
            default: desc
          example: desc,asc
        - name: packageCode
          in: query
          description: Filter by package identifier.
          required: false
          schema:
            type: string
        - name: packageType
          in: query
          description: Filter by package type.
          required: false
          schema:
            type: string
        - name: packageStatus
          in: query
          description: Filter by package status.
          required: false
          schema:
            type: string
            enum:
              - Active
              - Inactive
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/package'
                  pagination:
                    type: object
                    properties:
                      offset:
                        type: integer
                        description: The actual offset used (page * limit)
                      limit:
                        type: integer
                        description: The number of items per page
                      total:
                        type: integer
                        description: Total number of items available
                      has_more:
                        type: boolean
                        description: Whether there are more items available
              example:
                data:
                  - packageCode: pkg_20128
                    wwwUpdateDate: '2024-01-15T10:30:00Z'
                    url: https://www.renesas.com/package/pkg20128
                    uuid: b87ecb11-cd57-4204-b320-63c7dfd6525d
                    title: pkg_20128 (FCBGA 1368)
                    packageType: FCBGA
                    packageName: PRBG1368KA-A
                    category: IC
                    class: IC
                    description: 'Terminal Material - Base: Sn-Ag-Cu'
                    packageStatus: Active
                    regulatory:
                      leadFree: 'Yes'
                      pbFreeCategory: null
                    specifications:
                      leadCount: 1368
                      pitch: 0.5
                      length: 19
                      width: 19
                      thickness: 2.85
                      dimensions: 19 x 19 x 2.85
                      jeitaStandard: ''
                    tubeOrTray: Tray
                    images:
                      - >-
[...]
